<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "О компании"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/burger/burger-menu/_burger-menu.html')

        <main class="page inner-page">
            <section class="section about-promo">
                <div class="container">
                    <div class="about-promo__inner">
                        <div class="about-promo__content">
                            <nav class="breadcrumbs" aria-label="breadcrumbs">
                                <ol class="breadcrumbs__list">
                                    <li class="breadcrumbs__item">
                                        <a href="#">
                                            Главная
                                        </a>
                                    </li>
                                    <li class="breadcrumbs__item">
                                        <span>
                                            О компании
                                        </span>
                                    </li>
                                </ol>
                            </nav>
                            <h1 class="page-title about-promo__title">О компании Нортех</h1>
                            <div class="about-promo__text">
                                <p>
                                    Мы специализируемся на поставках систем электрического отопления, оборудования для
                                    горячего водоснабжения и промышленных
                                    обогревателей.
                                </p>

                                <p>
                                    За 20 лет работы в этом направлении мы имеем дилерскую сеть в Санкт-Петербурге,
                                    Москве и регионах России. Мы также
                                    активно сотрудничаем с проектными
                                    и строительно-монтажными организациями.
                                    Розничная продажа продукции
                                    в Санкт-Петербурге и Москве осуществляется в более чем 40 магазинах и фирмах.
                                </p>
                            </div>
                        </div>
                        <div class="about-promo__img">
                            <picture>
                                <source data-srcset="img/content/about-promo.webp" type="image/webp">
                                <img class="lazy" data-src="img/content/about-promo.jpg" width="600" height="368">
                            </picture>
                        </div>
                    </div>
                </div>
            </section>
            <section class="companies">
                <div class="container">
                    <div class="company-item">
                        <div class="company-item__logo">
                            <picture>
                                <source data-srcset="img/logo/promtis.webp" type="image/webp">
                                <img class="lazy" data-src="img/logo/promtis.png" alt="логотип Promtis" width="186"
                                    height="106">
                            </picture>
                            <a href="#" class="company-item__link">promtis.ru</a>
                        </div>
                        <div class="company-item__text">
                            <p>
                                ООО "ПромТИС" (Промышленные технические инженерные системы) ведет отсчет своей
                                деятельности с 2004 года. В основу своего
                                развития компания положила концепцию энергосберегающих технологий, актуальность которых
                                сегодня востребована бизнесом и
                                обществом. В большей степени это касается изначально энергозависимых отраслей
                                промышленности, для которых постоянное
                                удорожание энергоресурсов значительно снижает их финансовые возможности.
                            </p>

                            <p>
                                Внедрение энергосберегающих технологий помогает ООО «ПромТИС» осуществлять установку
                                специализированного оборудования на
                                предприятиях заказчика. Это касается как традиционных производств, так и объектов
                                коммерческой недвижимости, занимающих
                                значительные площади. В первую очередь, речь идет о системах отопления вентиляции —
                                традиционных потребителях энергии,
                                чья доля в себестоимости товаров и услуг всегда занимает значительную величину.
                            </p>

                            <p>
                                Применению и выбору наиболее полно подходящих объекту энергосберегающих проектов
                                предшествует инженерный и экономический
                                расчет, называемый энергоаудитом.
                            </p>

                            <p>
                                Комплексный подход заключается во внедрении широкого спектра улучшений, направленных на
                                снижение энергопотерь путем
                                установки современного энергосберегающего оборудования. Одним словом, системы вентиляции
                                складов или промышленных
                                участков, объединяются с системами отопления общей концепцией, направленной на получение
                                единой, максимально эффективно
                                работающей инженерной системы. Помимо обязательного спектра инженерно-технических услуг,
                                в частности пуско-наладочных и
                                монтажных работ на объектах заказчика, ООО "ПромТИС" осуществляет подготовку и получение
                                всех необходимых согласований
                                для подобного перевооружения энергетического подразделения заказчика и обслуживаемых им
                                объектов.
                            </p>

                            <p>
                                Именно благодаря работе «под ключ», компании удалось стать лидером в данном сегменте
                                рынка, а для своих клиентов
                                надежным партнером. На предприятиях некоторых заказчиков энергосберегающие технологии на
                                производстве внедряются в
                                течении нескольких лет, что связано с их финансовыми возможностями. Это позволяет
                                получить энергоэффективную систему без
                                использования кредитных ресурсов.
                            </p>
                        </div>
                    </div>
                    <div class="company-item">
                        <div class="company-item__logo">
                            <picture>
                                <source data-srcset="img/logo/hoptex.webp" type="image/webp">
                                <img class="lazy" data-src="img/logo/hoptex.png" alt="логотип Hoptex" width="202"
                                    height="67">
                            </picture>
                        </div>
                        <div class="company-item__text">
                            <p>
                                Компания Нортех ПромИнжиниринг оперативно поставит промышленные газовые инфракрасные
                                обогреватели, газовые
                                теплогенераторы, газовые водонагревали и воздухонагреватели и котлы, промышленные
                                инфракрасные ИК обогреватели, системы
                                кондиционирования и другое оборудование.
                            </p>

                            <p>
                                Одно из ведущих мест в ассортименте Нортех ПромИнжиниринг занимает оборудование компании
                                Roberts Gordon. Прежде всего
                                это промышленные газовые инфракрасные (ИК) обогреватели и воздухонагреватели,
                                представленные моделями линейных,
                                У-образных и мультигорелочных и потолочные ИК обогреватели (нагреватели). Для
                                дополнительного повышения эффективности
                                обогрева промышленных помещений служат специальные потолочные вентиляторы
                                (дестратификаторы).
                            </p>

                            <p>
                                Так же Нортех ПромИнжиниринг поставляет настенные газовые котлы производства компании
                                Auer.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            @@include('../../blocks/modules/benefits/_benefits.html')
            <section class="section photogallery">
                <div class="container">
                    <div class="section__top">
                        <h2 class="section-title">Фотогаллерея</h2>
                        <div class="swiper-buttons">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="photogallery__slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="img/content/gallery/01.webp" type="image/webp">
                                    <img src="img/content/gallery/01.jpg" alt="" width="455" height="455">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source data-srcset="img/content/gallery/02.webp" type="image/webp">
                                    <img class="lazy" data-src="img/content/gallery/02.jpg" alt="" width="455"
                                        height="455">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source data-srcset="img/content/gallery/03.webp" type="image/webp">
                                    <img class="lazy" data-src="img/content/gallery/03.jpg" alt="" width="455"
                                        height="455">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source data-srcset="img/content/gallery/01.webp" type="image/webp">
                                    <img class="lazy" data-src="img/content/gallery/01.jpg" alt="" width="455"
                                        height="455">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source data-srcset="img/content/gallery/02.webp" type="image/webp">
                                    <img class="lazy" data-src="img/content/gallery/02.jpg" alt="" width="455"
                                        height="455">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source data-srcset="img/content/gallery/03.webp" type="image/webp">
                                    <img class="lazy" data-src="img/content/gallery/03.jpg" alt="" width="455"
                                        height="455">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </section>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')

        @@include('../../blocks/modules/popups/_popups.html')
    </div>

    @@include('../_js.html')

</body>

</html>