<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Газовые камины Faber"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/burger/burger-menu/_burger-menu.html')

        <main class="page catalog inner-page">
            <div class="container">
                <nav class="breadcrumbs" aria-label="breadcrumbs">
                    <ol class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="#">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a href="#">
                                Каталог
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <span>
                                Газовые камины Faber
                            </span>
                        </li>
                    </ol>
                </nav>

                <h1 class="page-title">Газовые камины Faber</h1>

                <div class="catalog__wrapper">
                    @@include('../../blocks/modules/aside-filters/_aside-filters.html')
                    <div class="catalog__content">
                        <div class="catalog__content-top">
                            <div class="catalog__sort">
                                <div class="catalog__sort-title">Сортировать:</div>
                                <div class="catalog__sort-items">
                                    <label class="catalog__sort-item">
                                        <input class="radio-box" type="radio" name="sort_by">
                                        <span class="radio-text">По названию</span>
                                        <svg>
                                            <use xlink:href="img/sprite.svg#down"></use>
                                        </svg>
                                    </label>
                                    <label class="catalog__sort-item">
                                        <input class="radio-box" type="radio" name="sort_by">
                                        <span class="radio-text">По цене</span>
                                        <svg>
                                            <use xlink:href="img/sprite.svg#down"></use>
                                        </svg>
                                    </label>
                                </div>
                            </div>
                            <button class="filter-btn" type="button">
                                Фильтры
                                <div class="filter-btn__icon">
                                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                                </div>
                            </button>
                        </div>
                        <div class="catalog__cards">
                            @@include('../../blocks/modules/catalog-card/_catalog-card.html')
                            @@include('../../blocks/modules/catalog-card/_catalog-card.html')
                            @@include('../../blocks/modules/catalog-card/_catalog-card.html')
                            @@include('../../blocks/modules/catalog-card/_catalog-card.html')
                            @@include('../../blocks/modules/catalog-card/_catalog-card.html')
                            @@include('../../blocks/modules/catalog-card/_catalog-card.html')
                            @@include('../../blocks/modules/catalog-card/_catalog-card.html')
                            @@include('../../blocks/modules/catalog-card/_catalog-card.html')
                            @@include('../../blocks/modules/catalog-card/_catalog-card.html')
                            @@include('../../blocks/modules/catalog-card/_catalog-card.html')
                            @@include('../../blocks/modules/catalog-card/_catalog-card.html')
                            @@include('../../blocks/modules/catalog-card/_catalog-card.html')
                        </div>
                        <nav class="pagination catalog__pagination" aria-label="pagination">
                            <ol class="pagination__list">
                                <li class="pagination__item">
                                    <a href="#" class="pagination__link pagination__link--active">1</a>
                                </li>
                                <li class="pagination__item">
                                    <a href="#" class="pagination__link">2</a>
                                </li>
                                <li class="pagination__item">
                                    <a href="#" class="pagination__link">3</a>
                                </li>
                                <li class="pagination__item">
                                    <a href="#" class="pagination__link">4</a>
                                </li>
                                <li class="pagination__item">
                                    <a href="#" class="pagination__link">5</a>
                                </li>
                            </ol>
                            <a href="#" class="pagination__next-link"></a>
                        </nav>
                    </div>
                </div>
            </div>

            <section class="history">
                <div class="container">
                    <div class="history__inner">
                        <div class="history__content">
                            <h2 class="section-title">
                                Газовые камины Faber
                                на линии огня с 1844 года
                            </h2>
                            <div class="history__text">
                                <p>
                                    Корни компании Фабер (Faber) уходят в глубь времен в голландскую провинцию Фрисланд,
                                    где в 1844 году Жан Герритс Фабер основал магазин при кузнице. Кроме газовых каминов
                                    они производили велосипеды, коньки, прессы для упаковывания сена и соломы в тюки,
                                    машины для резки сахарной свеклы, сейфы.
                                </p>

                                <p>
                                    Когда в шестидесятых было открыто месторождение природного газа близ Слохтерена,
                                    камины
                                    стали приоритетным направлением
                                    для компании Faber.
                                </p>

                                <p>
                                    Лидерство в данной области, значительный опыт, многолетние исследования и разработки
                                    позволили компании уже в 1996 году
                                    первыми представить на рынке газовый камин
                                    с изолированным, закрытым очагом. Разработанная технология была высоко оценена
                                    и позже была адоптирована многими другими компаниями-производителями каминов.
                                </p>
                            </div>
                            <div class="history__divider"></div>
                            <div class="history__text">
                                <p>
                                    С 2000 года компания Фабер вошла в состав всемирноизвестной ирландской группы
                                    компаний
                                    Glen Dimplex.
                                </p>

                                <p>
                                    В 2001 завод переехал на нынешнюю площадку в Херенвен. Это современная фабрика,
                                    под крышей которой уместились не только цеха, но и выставочный зал, современная
                                    лаборатория, где создаются новые модели
                                    каминов, ведутся испытания новых разработок. Имеется цех окончательной сборки и
                                    проверки
                                    качества всей выпускаемой
                                    продукции.
                                </p>

                                <p>
                                    Высочайшее качество продукции подтверждается гарантией на все модели газовых
                                    каминов.
                                </p>

                                <p>
                                    <b>Компания Нортех оказывает содействие в проектировании и согласовании установки
                                        газовых
                                        каминов.
                                    </b>
                                </p>
                            </div>
                        </div>
                        <div class="history__images">
                            <div class="history__image-1">
                                <picture>
                                    <source data-srcset="img/content/fireplaces/01.webp" type="image/webp">
                                    <img class="lazy" data-src="img/content/fireplaces/01.jpg" alt="камин" width="360"
                                        height="270">
                                </picture>
                            </div>
                            <div class="history__image-2">
                                <picture>
                                    <source data-srcset="img/content/fireplaces/02.webp" type="image/webp">
                                    <img class="lazy" data-src="img/content/fireplaces/02.jpg" alt="камин" width="282"
                                        height="212">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')

        @@include('../../blocks/modules/popups/_popups.html')
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.5.0/dist/lazyload.min.js"></script>
    <script src="js/base.min.js"></script>
    <script src="js/catalog.min.js"></script>

</body>

</html>