<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Каталог"
})

<body>

	<div class="wrapper">
		@@include('../../blocks/modules/header/_header.html')

		@@include('../../blocks/modules/burger/burger-menu/_burger-menu.html')

		<main class="page inner-page">
			<div class="container">
				<nav class="breadcrumbs" aria-label="breadcrumbs">
					<ol class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a href="#">
								Главная
							</a>
						</li>
						<li class="breadcrumbs__item">
							<span>
								Каталог
							</span>
						</li>
					</ol>
				</nav>
				<section class="section catalog">
					<h1 class="page-title">Каталог</h1>
					<div class="catalog__grid">
						<div class="device-item">
							<div class="device-item__img">
								<picture>
									<source data-srcset="img/content/catalog/02.webp" type="image/webp">
									<img class="lazy" data-src="img/content/catalog/02.png" alt="" width="110"
										height="280">
								</picture>
							</div>
							<div class="device-item__title">Водонагреватели OSO
								<span></span>
							</div>
							<div class="device-item__info">
								<div class="device-item__info-title">Водонагреватели OSO
								</div>
								<ul class="device-item__list">
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">FLEXI
											F
											FX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">WALLY
											W</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											S</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SC</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">МАКСИ
											17S</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">MAXI
											M</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Дополнительное
											оборудование</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Сервисное
											обслуживание</a></li>
								</ul>
							</div>
						</div>
						<div class="device-item">
							<div class="device-item__img">
								<picture>
									<source data-srcset="img/content/catalog/02.webp" type="image/webp">
									<img class="lazy" data-src="img/content/catalog/02.png" alt="" width="110"
										height="280">
								</picture>
							</div>
							<div class="device-item__title">Аккумуляторы OSO <span></span>
							</div>
							<div class="device-item__info">
								<div class="device-item__info-title">Аккумуляторы OSO
								</div>
								<ul class="device-item__list">
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">FLEXI
											F
											FX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">WALLY
											W</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											S</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SC</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">МАКСИ
											17S</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">MAXI
											M</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Дополнительное
											оборудование</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Сервисное
											обслуживание</a></li>
								</ul>
							</div>
						</div>
						<div class="device-item">
							<div class="device-item__img">
								<picture>
									<source data-srcset="img/content/catalog/03.webp" type="image/webp">
									<img class="lazy" data-src="img/content/catalog/03.png" alt="" width="280"
										height="280">
								</picture>
							</div>
							<div class="device-item__title">Газовые камины Faber
								<span></span>
							</div>
							<div class="device-item__info">
								<div class="device-item__info-title">Газовые камины
									Faber</div>
								<ul class="device-item__list">
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">FLEXI
											F
											FX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">WALLY
											W</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											S</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SC</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">МАКСИ
											17S</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">MAXI
											M</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Дополнительное
											оборудование</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Сервисное
											обслуживание</a></li>
								</ul>
							</div>
						</div>
						<div class="device-item">
							<div class="device-item__img">
								<picture>
									<source data-srcset="img/content/catalog/04.webp" type="image/webp">
									<img class="lazy" data-src="img/content/catalog/04.png" alt="" width="256"
										height="158">
								</picture>
							</div>
							<div class="device-item__title">Воздухонагреватели Norgas
								<span></span>
							</div>
							<div class="device-item__info">
								<div class="device-item__info-title">Воздухонагреватели
									Norgas</div>
								<ul class="device-item__list">
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">FLEXI
											F
											FX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">WALLY
											W</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											S</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SC</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">МАКСИ
											17S</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">MAXI
											M</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Дополнительное
											оборудование</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Сервисное
											обслуживание</a></li>
								</ul>
							</div>
						</div>
						<div class="device-item">
							<div class="device-item__img">
								<picture>
									<source data-srcset="img/content/catalog/05.webp" type="image/webp">
									<img class="lazy" data-src="img/content/catalog/05.png" alt="" width="303"
										height="247">
								</picture>
							</div>
							<div class="device-item__title">Инфракрасные обогреватели Norgas
								<span></span>
							</div>
							<div class="device-item__info">
								<div class="device-item__info-title">Инфракрасные
									обогреватели Norgas</div>
								<ul class="device-item__list">
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">FLEXI
											F
											FX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">WALLY
											W</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											S</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SC</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">МАКСИ
											17S</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">MAXI
											M</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Дополнительное
											оборудование</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Сервисное
											обслуживание</a></li>
								</ul>
							</div>
						</div>
						<div class="device-item">
							<div class="device-item__img">
								<picture>
									<source data-srcset="img/content/catalog/06.webp" type="image/webp">
									<img class="lazy" data-src="img/content/catalog/06.png" alt="" width="269"
										height="180">
								</picture>
							</div>
							<div class="device-item__title">Инфракрасные
								обогреватели Energotech <span></span></div>
							<div class="device-item__info">
								<div class="device-item__info-title">Инфракрасные
									обогреватели Energotech</div>
								<ul class="device-item__list">
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">FLEXI
											F
											FX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">WALLY
											W</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											S</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SC</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">МАКСИ
											17S</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">MAXI
											M</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Дополнительное
											оборудование</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Сервисное
											обслуживание</a></li>
								</ul>
							</div>
						</div>
						<div class="device-item">
							<div class="device-item__img">
								<picture>
									<source data-srcset="img/content/catalog/07.webp" type="image/webp">
									<img class="lazy" data-src="img/content/catalog/07.png" alt="" width="140"
										height="270">
								</picture>
							</div>
							<div class="device-item__title">Электрические котлы OSO
								<span></span>
							</div>
							<div class="device-item__info">
								<div class="device-item__info-title">Электрические котлы
									OSO</div>
								<ul class="device-item__list">
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">FLEXI
											F
											FX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">WALLY
											W</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											S</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SC</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">МАКСИ
											17S</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">MAXI
											M</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Дополнительное
											оборудование</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Сервисное
											обслуживание</a></li>
								</ul>
							</div>
						</div>
						<div class="device-item">
							<div class="device-item__img">
								<picture>
									<source data-srcset="img/content/catalog/08.webp" type="image/webp">
									<img class="lazy" data-src="img/content/catalog/08.png" alt="" width="134"
										height="284">
								</picture>
							</div>
							<div class="device-item__title">Электрические котлы
								Varmeteknikk <span></span></div>
							<div class="device-item__info">
								<div class="device-item__info-title">Электрические котлы
									Varmeteknikk</div>
								<ul class="device-item__list">
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">FLEXI
											F
											FX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">WALLY
											W</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											S</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SC</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">МАКСИ
											17S</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">MAXI
											M</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Дополнительное
											оборудование</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Сервисное
											обслуживание</a></li>
								</ul>
							</div>
						</div>
						<div class="device-item">
							<div class="device-item__img">
								<picture>
									<source data-srcset="img/content/catalog/09.webp" type="image/webp">
									<img class="lazy" data-src="img/content/catalog/09.png" alt="" width="285"
										height="264">
								</picture>
							</div>
							<div class="device-item__title">Обогреватели Dimplex
								<span></span>
							</div>
							<div class="device-item__info">
								<div class="device-item__info-title">Обогреватели
									Dimplex</div>
								<ul class="device-item__list">
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">FLEXI
											F
											FX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">WALLY
											W</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											S</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SC</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">МАКСИ
											17S</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">MAXI
											M</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Дополнительное
											оборудование</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Сервисное
											обслуживание</a></li>
								</ul>
							</div>
						</div>
						<div class="device-item">
							<div class="device-item__img">
								<picture>
									<source data-srcset="img/content/catalog/10.webp" type="image/webp">
									<img class="lazy" data-src="img/content/catalog/10.png" alt="" width="309"
										height="208">
								</picture>
							</div>
							<div class="device-item__title">Теплый пол Fenix <span></span>
							</div>
							<div class="device-item__info">
								<div class="device-item__info-title">Теплый пол Fenix
								</div>
								<ul class="device-item__list">
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">FLEXI
											F
											FX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">WALLY
											W</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											S</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SC</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">МАКСИ
											17S</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">MAXI
											M</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Дополнительное
											оборудование</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Сервисное
											обслуживание</a></li>
								</ul>
							</div>
						</div>
						<div class="device-item">
							<div class="device-item__img">
								<picture>
									<source data-srcset="img/content/catalog/11.webp" type="image/webp">
									<img class="lazy" data-src="img/content/catalog/11.png" alt="" width="302"
										height="113">
								</picture>
							</div>
							<div class="device-item__title">Кондиционеры
								Mitsubishi&nbsp;Electric <span></span></div>
							<div class="device-item__info">
								<div class="device-item__info-title">Кондиционеры
									Mitsubishi Electric</div>
								<ul class="device-item__list">
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">FLEXI
											F
											FX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">WALLY
											W</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											S</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SC</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">МАКСИ
											17S</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">MAXI
											M</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Дополнительное
											оборудование</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Сервисное
											обслуживание</a></li>
								</ul>
							</div>
						</div>
						<div class="device-item">
							<div class="device-item__img">
								<picture>
									<source data-srcset="img/content/catalog/12.webp" type="image/webp">
									<img class="lazy" data-src="img/content/catalog/12.png" alt="" width="259"
										height="213">
								</picture>
							</div>
							<div class="device-item__title">Расширительные баки GWS
								<span></span>
							</div>
							<div class="device-item__info">
								<div class="device-item__info-title">Расширительные баки
									GWS</div>
								<ul class="device-item__list">
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">FLEXI
											F
											FX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">WALLY
											W</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											S</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SC</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">SAGA
											SX</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">МАКСИ
											17S</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link" href="#">MAXI
											M</a>
									</li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Дополнительное
											оборудование</a></li>
									<li class="device-item__list-item"><a class="device-item__list-link"
											href="#">Сервисное
											обслуживание</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section class="seo">
					<h2 class="section-title seo__title">Заголовок SEO текста</h2>
					<div class="row seo__inner">
						<div class="seo__text">
							<p>
								Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum
								has been the industry's standard
								dummy text ever since the 1500s, when an unknown printer
								took a galley of type and
								scrambled it to make a type specimen
								book.
							</p>

							<p>
								It has survived not only five centuries, but also the
								leap into electronic typesetting,
								remaining essentially unchanged.
								It was popularised in the 1960s with the release of
								Letraset sheets containing Lorem
								Ipsum passages, and more recently
								with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.
								It is a long established fact
								that a reader will be distracted by the readable content
								of a page when looking at its
								layout. The point of using Lorem
								Ipsum is that it has a more-or-less normal distribution
								of letters, as opposed to using
								'Content here, content here',
								making it look like readable English.
							</p>
						</div>
						<div class="seo__text">
							<p>
								Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum
								has been the industry's standard
								dummy text ever since the 1500s, when an unknown printer
								took a galley of type and
								scrambled it to make a type specimen
								book.
							</p>

							<p>
								It has survived not only five centuries, but also the
								leap into electronic typesetting,
								remaining essentially unchanged.
								It was popularised in the 1960s with the release of
								Letraset sheets containing Lorem
								Ipsum passages, and more recently
								with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.
								It is a long established fact
								that a reader will be distracted by the readable content
								of a page when looking at its
								layout. The point of using Lorem
								Ipsum is that it has a more-or-less normal distribution
								of letters, as opposed to using
								'Content here, content here',
								making it look like readable English.
							</p>
						</div>
					</div>
				</section>
			</div>

		</main>

		@@include('../../blocks/modules/footer/_footer.html')

		@@include('../../blocks/modules/popups/_popups.html')
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.5.0/dist/lazyload.min.js"></script>
	<script src="js/base.min.js"></script>

</body>

</html>