<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Контакты"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/burger/burger-menu/_burger-menu.html')

        <main class="page inner-page">
            <div class="container">
                <nav class="breadcrumbs" aria-label="breadcrumbs">
                    <ol class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="#">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <span>
                                Контакты
                            </span>
                        </li>
                    </ol>
                </nav>
                <h1 class="page-title">Контакты</h1>
                <section class="contacts">
                    <div class="tabs contacts__tabs">
                        <button class="tab tab--active" data-tab="hoptex" type="button">Нoptex</button>
                        <button class="tab" data-tab="promtis" type="button">Промтис</button>
                        <button class="tab" data-tab="promengine" type="button">Нортех ПромИнжиниринг</button>
                    </div>
                    <div id="hoptex" class="tabs-content tabs-content--active">
                        <address class="contacts__inner">
                            <div class="contacts__item">
                                <div class="contacts__item-city">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#pin"></use>
                                    </svg>
                                    Санкт-Петербург
                                </div>
                                <div class="contacts__item-address">
                                    Санкт-Петербург, Пр. Медиков 9, 5 этаж
                                </div>
                                <div class="contacts__item-time">
                                    Пн-Вс: с 10:00-17:00
                                </div>
                                <a href="tel:+78123275019" class="contacts__item-phone contact-phone">
                                    +7 (812) 327 50 19
                                </a>
                                <a href="mailto:op@nortech.ru"
                                    class="contacts__item-email contact-email">op@nortech.ru</a>
                            </div>
                            <div class="contacts__item">
                                <div class="contacts__item-city">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#pin"></use>
                                    </svg>
                                    Москва
                                </div>
                                <div class="contacts__item-address">
                                    Москва, Ул. Староалексеевская д. 5
                                </div>
                                <div class="contacts__item-time">
                                    Пн-Вс: с 10:00-17:00
                                </div>
                                <a href="tel:+78123275019" class="contacts__item-phone contact-phone">
                                    +7 (812) 327 50 19
                                </a>
                                <a href="mailto:info-m@nortech.ru"
                                    class="contacts__item-email contact-email">info-m@nortech.ru</a>
                            </div>
                            <div class="contacts__item">
                                <div class="contacts__item-city">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#pin"></use>
                                    </svg>
                                    Краснодар
                                </div>
                                <div class="contacts__item-address">
                                    Краснодар, Ул. Береговая д. 9
                                </div>
                                <div class="contacts__item-time">
                                    Пн-Вс: с 10:00-17:00
                                </div>
                                <a href="tel:+78005504119" class="contacts__item-phone contact-phone">
                                    +7 (800) 550 41 19
                                </a>
                                <a href="mailto:alex@nortech.ru"
                                    class="contacts__item-email contact-email">alex@nortech.ru</a>
                            </div>
                            <div class="contact-red-box">
                                <div class="contact-red-box__title">Oso-Hotwater, Сервис-центр</div>
                                <a href="tel:+78129204119" class="contact-red-box__phone">+7 (812) 920 41 19</a>
                                <a href="mailto:filippov@nortech.ru"
                                    class="contact-red-box__email">filippov@nortech.ru</a>
                            </div>
                        </address>
                    </div>
                    <div id="promtis" class="tabs-content">
                        <address class="contacts__inner">
                            <div class="contacts__item">
                                <div class="contacts__item-city">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#pin"></use>
                                    </svg>
                                    Санкт-Петербург
                                </div>
                                <div class="contacts__item-address">
                                    Санкт-Петербург, Пр. Медиков 9, 5 этаж
                                </div>
                                <div class="contacts__item-time">
                                    Пн-Вс: с 10:00-17:00
                                </div>
                                <a href="tel:+78123275019" class="contacts__item-phone contact-phone">
                                    +7 (812) 327 50 19
                                </a>
                                <a href="mailto:op@nortech.ru"
                                    class="contacts__item-email contact-email">op@nortech.ru</a>
                            </div>
                            <div class="contacts__item">
                                <div class="contacts__item-city">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#pin"></use>
                                    </svg>
                                    Москва
                                </div>
                                <div class="contacts__item-address">
                                    Москва, Ул. Староалексеевская д. 5
                                </div>
                                <div class="contacts__item-time">
                                    Пн-Вс: с 10:00-17:00
                                </div>
                                <a href="tel:+78123275019" class="contacts__item-phone contact-phone">
                                    +7 (812) 327 50 19
                                </a>
                                <a href="mailto:info-m@nortech.ru"
                                    class="contacts__item-email contact-email">info-m@nortech.ru</a>
                            </div>
                            <div class="contacts__item">
                                <div class="contacts__item-city">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#pin"></use>
                                    </svg>
                                    Краснодар
                                </div>
                                <div class="contacts__item-address">
                                    Краснодар, Ул. Береговая д. 9
                                </div>
                                <div class="contacts__item-time">
                                    Пн-Вс: с 10:00-17:00
                                </div>
                                <a href="tel:+78005504119" class="contacts__item-phone contact-phone">
                                    +7 (800) 550 41 19
                                </a>
                                <a href="mailto:alex@nortech.ru"
                                    class="contacts__item-email contact-email">alex@nortech.ru</a>
                            </div>
                            <div class="contact-red-box">
                                <div class="contact-red-box__title">Oso-Hotwater, Сервис-центр</div>
                                <a href="tel:+78129204119" class="contact-red-box__phone">+7 (812) 920 41 19</a>
                                <a href="mailto:filippov@nortech.ru"
                                    class="contact-red-box__email">filippov@nortech.ru</a>
                            </div>
                        </address>
                    </div>
                    <div id="promengine" class="tabs-content">
                        <address class="contacts__inner">
                            <div class="contacts__item">
                                <div class="contacts__item-city">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#pin"></use>
                                    </svg>
                                    Санкт-Петербург
                                </div>
                                <div class="contacts__item-address">
                                    Санкт-Петербург, Пр. Медиков 9, 5 этаж
                                </div>
                                <div class="contacts__item-time">
                                    Пн-Вс: с 10:00-17:00
                                </div>
                                <a href="tel:+78123275019" class="contacts__item-phone contact-phone">
                                    +7 (812) 327 50 19
                                </a>
                                <a href="mailto:op@nortech.ru"
                                    class="contacts__item-email contact-email">op@nortech.ru</a>
                            </div>
                            <div class="contacts__item">
                                <div class="contacts__item-city">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#pin"></use>
                                    </svg>
                                    Москва
                                </div>
                                <div class="contacts__item-address">
                                    Москва, Ул. Староалексеевская д. 5
                                </div>
                                <div class="contacts__item-time">
                                    Пн-Вс: с 10:00-17:00
                                </div>
                                <a href="tel:+78123275019" class="contacts__item-phone contact-phone">
                                    +7 (812) 327 50 19
                                </a>
                                <a href="mailto:info-m@nortech.ru"
                                    class="contacts__item-email contact-email">info-m@nortech.ru</a>
                            </div>
                            <div class="contacts__item">
                                <div class="contacts__item-city">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#pin"></use>
                                    </svg>
                                    Краснодар
                                </div>
                                <div class="contacts__item-address">
                                    Краснодар, Ул. Береговая д. 9
                                </div>
                                <div class="contacts__item-time">
                                    Пн-Вс: с 10:00-17:00
                                </div>
                                <a href="tel:+78005504119" class="contacts__item-phone contact-phone">
                                    +7 (800) 550 41 19
                                </a>
                                <a href="mailto:alex@nortech.ru"
                                    class="contacts__item-email contact-email">alex@nortech.ru</a>
                            </div>
                            <div class="contact-red-box">
                                <div class="contact-red-box__title">Oso-Hotwater, Сервис-центр</div>
                                <a href="tel:+78129204119" class="contact-red-box__phone">+7 (812) 920 41 19</a>
                                <a href="mailto:filippov@nortech.ru"
                                    class="contact-red-box__email">filippov@nortech.ru</a>
                            </div>
                        </address>
                    </div>
                </section>
            </div>

            <section class="requisites">
                <div class="container">
                    <h2 class="section-title requisites__title">Реквизиты компании</h2>
                    <div class="requisites__inner">
                        <div class="requisites__content">
                            <dl>
                                <dt>ООО "Нортех ПромИнжиниринг"</dt>
                                <dt>ИНН</dt>
                                <dd>7813545691</dd>
                                <dt>КПП</dt>
                                <dd>781301001</dd>
                                <dt>Юридический адрес:</dt>
                                <dd>197022, г. Санкт-Петербург, пр.Медиков, д. 9, лит. Б, пом. 19Н</dd>
                                <dt>Почтовый адрес:</dt>
                                <dd>197022, Санкт-Петербург, пр. Медиков, д. 9, пом.19Н</dd>
                                <dt>Расчетный счет:</dt>
                                <dd>
                                    40702810100024556857 (рубли)
                                    <span>в Петербургском филиале ЗАО "ЮниКредит Банк" г. Санкт-Петербург к/с
                                        30101810800000000858</span>
                                </dd>
                                <dt>БИК:</dt>
                                <dd>044030858</dd>
                                <dt>Ген. директор:</dt>
                                <dd>Додеус Константин Владимирович</dd>
                                <dt>Гл. бухгалтер:</dt>
                                <dd>Соловьева Мария Александровна</dd>
                            </dl>
                        </div>
                        <div class="requisites__hoptex">Нортех</div>
                    </div>
                </div>
            </section>

            <div id="map" style="width: 100%;"></div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')

        @@include('../../blocks/modules/popups/_popups.html')
    </div>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.5.0/dist/lazyload.min.js"></script>
    <script src="js/script.min.js"></script>
    <script src="js/map.min.js"></script>

</body>

</html>