<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Проектирование инженерных систем отопления и вентиляции"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/burger/burger-menu/_burger-menu.html')

        <main class="page inner-page">
            <div class="container">
                <nav class="breadcrumbs" aria-label="breadcrumbs">
                    <ol class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="#">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a href="#">
                                Услуги
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <span>
                                Проектирование инженерных систем отопления и вентиляции
                            </span>
                        </li>
                    </ol>
                </nav>
                <h1 class="page-title">Проектирование инженерных систем отопления и вентиляции</h1>
                <section class="about-services">
                    <div class="about-services__inner">
                        <div class="about-services__img">
                            <picture>
                                <source data-srcset="img/content/engineering.webp" type="image/webp">
                                <img class="lazy" data-src="img/content/engineering.jpg" alt="" width="625"
                                    height="477">
                            </picture>
                        </div>
                        <div class="about-services__content">
                            <h2 class="visually-hidden"></h2>
                            <div class="about-services__title">Группа комраний «нортех» предлагает:</div>
                            <ul class="about-services__list">
                                <li>
                                    Проектирование инженерных систем отопления, водоснабжения, вентиляции промышленных
                                    объектов, административных зданий,
                                    гостиниц, складов<br>
                                    и спортивных сооружений.
                                </li>
                                <li>Составление сметной документации.</li>
                                <li>Полное согласование со всеми надзорными органами.</li>
                                <li>Авторское сопровождение проектов.</li>
                                <li>Монтаж оборудования.</li>
                                <li>Сдача объекта под ключ.</li>
                            </ul>
                            <div class="about-services__text">
                                Каждый владелец здания или промышленного объекта знает, насколько важным является этап
                                разработки проектной
                                документации, будь то расчет и проектирование систем отопления, или работы по
                                проектированию
                                систем вентиляции.
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <section class="design-time">
                <div class="container">
                    <div class="design-time__inner">
                        <div class="design-time__content">
                            <h3 class="design-time__title">Минимальные сроки проектирования</h3>
                            <div class="design-time__subtitle">
                                Сроки проектирования инженерных систем во многом предопределяют успешность реализации
                                проектов строительства или
                                реконструкции объектов различного назначения.
                            </div>
                            <div class="design-time__text">
                                <p>
                                    Проектирование систем отопления представляет собой целую совокупность инженерных
                                    расчетов и решений по организации
                                    отопления здания или дома. Тщательно выполненный проект для заказчика подразумевает
                                    совокупность оптимального
                                    соотношения стоимости и качества, а также минимальные сроки получения всех
                                    необходимых согласований. В этом заключается
                                    основной конек компании ПромТИС, по праву считающейся одним из лидеров рынка услуг
                                    проектирования инженерных систем.
                                </p>
                            </div>
                        </div>
                        <div class="design-time__img">
                            <picture>
                                <source data-srcset="img/content/pipes.webp" type="image/webp">
                                <img class="lazy" data-src="img/content/pipes.jpg" alt="" width="462" height="275">
                            </picture>
                        </div>
                    </div>
                </div>
            </section>

            <section class="service-benefits">
                <div class="container">
                    <div class="service-benefits__items">
                        <div class="service-benefits__item">
                            <svg class="service-benefits__item-img">
                                <use xlink:href="img/sprite.svg#secure-shield"></use>
                            </svg>
                            <h5 class="service-benefits__item-title">Гарантии надежности и долговечности проекта</h5>
                            <p class="service-benefits__item-text">
                                Немаловажно и получение от исполнителя гарантии надежности и долговечности
                                спроектированной системы отопления или
                                вентиляции. Опыт и профессионализм специалистов компании ПромТИС выражается в грамотном
                                проектировании систем
                                водоснабжения. Наши заказчики избавлены от таких моментов, как перерасход
                                материалов, неправильный подбор оборудования и т.д.
                            </p>
                        </div>
                        <div class="service-benefits__item">
                            <svg class="service-benefits__item-img">
                                <use xlink:href="img/sprite.svg#guarantee"></use>
                            </svg>
                            <h5 class="service-benefits__item-title">Разрешения надзорных органов</h5>
                            <p class="service-benefits__item-text">
                                Проектирование систем вентиляции и водоснабжения – это еще и обязательное требование
                                местных эксплуатирующих
                                организаций. Проект от компании
                                ПромТИС – это официальный документ, позволяющий осуществлять
                                и подключение к внешним сетям, и перепланировку помещений.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="utp">
                <div class="container">
                    <h2 class="visually-hidden">Многолетний опыт</h2>
                    <div class="utp__text">
                        Многолетний опыт проектирования инженерных систем позволяет нашей компании предлагать своим
                        заказчикам проектные
                        решения, максимально ориентированные на безопасность, эффективность и надежность.
                    </div>
                </div>
            </section>
            @@include('../../blocks/modules/feedback/_feedback.html')

            @@include('../../blocks/modules/slider-projects/_slider-projects.html')
        </main>

        @@include('../../blocks/modules/footer/_footer.html')

        @@include('../../blocks/modules/popups/_popups.html')
    </div>

    @@include('../_js.html')

</body>

</html>