<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Газовый камин Faber Jelling"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/burger/burger-menu/_burger-menu.html')

        <main class="page inner-page">
            <div class="container">
                <nav class="breadcrumbs" aria-label="breadcrumbs">
                    <ol class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="#">
                                Главная
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a href="#">
                                Каталог
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <span>
                                Газовый камин Faber Jelling
                            </span>
                        </li>
                    </ol>
                </nav>

                <h1 class="page-title">Газовый камин Faber Jelling</h1>

                <div class="product-card">
                    <div class="product-card__inner">
                        <div class="product-card__image">
                            <span class="product-card__label">Sale</span>
                            <picture>
                                <source data-srcset="img/content/product-card.webp" type="image/webp">
                                <img class="lazy" data-src="img/content/product-card.png" alt="" width="480"
                                    height="480">
                            </picture>
                        </div>
                        <div class="product-card__content">
                            <div class="product-card__status">Под заказ</div>
                            <div class="product-card__text">Современный отдельностоящий газовый камин из черного чугуна.
                            </div>
                            <div class="product-card__prices">
                                <div class="product-card__new-price">373 580 ₽</div>
                                <div class="product-card__old-price">390 580 ₽</div>
                            </div>
                            <div class="product-card__buttons">
                                <div class="counter product-card__counter">
                                    <button class="minus-btn counter__btn">-</button>
                                    <input type="number" class="counter__input" value="1" readonly>
                                    <button class="plus-btn counter__btn">+</button>
                                </div>
                                <button class="open-popup btn btn--red" type="button">
                                    Заказать
                                </button>
                            </div>
                            <dl class="product-card__params-list" data-da=".product-card__inner, 1024, 2">
                                <dt>Цвет:</dt>
                                <dd>Черный</dd>
                                <dt>Тип:</dt>
                                <dd>Напольный</dd>
                                <dt>Тип газа:</dt>
                                <dd>Природный, возможность перевода на пропан</dd>
                                <dt>Устройства управления:</dt>
                                <dd>Пульт дистанционного управления</dd>
                                <dt>Топочная камера:</dt>
                                <dd>Сталь</dd>
                                <dt>Размеры (ВхШхГ):</dt>
                                <dd>820x550x400мм</dd>
                                <dt>Теплопотребление, кВт:</dt>
                                <dd>6,3</dd>
                                <dt>Теплоотдача, кВт:</dt>
                                <dd>4,4</dd>
                            </dl>
                        </div>
                        <ul class="product-card__list">
                            <li class="product-card__list-item">
                                «Дровяная» горелка, с декором в виде поленьев, выполненных из керамики. Концентрирует
                                пламя
                                в середине. Напоминает
                                небольшой костер
                            </li>
                            <li class="product-card__list-item">
                                Камин с закрытой системой горения
                            </li>
                            <li class="product-card__list-item">Дистанционное управление</li>
                        </ul>
                    </div>
                </div>
            </div>

            <section class="section gallery">
                <div class="container">
                    <div class="gallery__top">
                        <div class="swiper-buttons">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="gallery__slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <picture>
                                    <source data-srcset="img/content/gallery/11.webp" type="image/webp">
                                    <img class="lazy" data-src="img/content/gallery/11.jpg" alt="" width="440"
                                        height="300">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source data-srcset="img/content/gallery/12.webp" type="image/webp">
                                    <img class="lazy" data-src="img/content/gallery/12.jpg" alt="" width="440"
                                        height="300">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source data-srcset="img/content/gallery/13.webp" type="image/webp">
                                    <img class="lazy" data-src="img/content/gallery/13.jpg" alt="" width="440"
                                        height="300">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source data-srcset="img/content/gallery/11.webp" type="image/webp">
                                    <img class="lazy" data-src="img/content/gallery/11.jpg" alt="" width="440"
                                        height="300">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source data-srcset="img/content/gallery/12.webp" type="image/webp">
                                    <img class="lazy" data-src="img/content/gallery/12.jpg" alt="" width="440"
                                        height="300">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source data-srcset="img/content/gallery/13.webp" type="image/webp">
                                    <img class="lazy" data-src="img/content/gallery/13.jpg" alt="" width="440"
                                        height="300">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </section>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')

        @@include('../../blocks/modules/popups/_popups.html')
    </div>

    @@include('../_js.html')

</body>

</html>