<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link href="//db.onlinewebfonts.com/c/95c21858d6f651289c8bf3dddce9e20a?family=StereoGothicW01-400" rel="stylesheet"
        type="text/css" />
    <link href="//db.onlinewebfonts.com/c/14c05b52265314f5c505f51e82183360?family=StereoGothicW01-600" rel="stylesheet"
        type="text/css" />
    <link href="//db.onlinewebfonts.com/c/f9c966f82a1ac8d27243f25c2f0037ae?family=StereoGothicW01-650" rel="stylesheet"
        type="text/css" /> -->
    <link rel="stylesheet" href="css/style.min.css">
    <title>@@title</title>
</head>