.product-card {

    padding: 6.8rem 0 23.8rem;
    @media(max-width: 1024px) {
        padding-bottom: 10rem;
    }
    &__inner {
        display: grid;
        grid-template-columns: 48rem auto;
        grid-gap: 5.7rem 12rem;
        @media(max-width: 1024px) {
            grid-template-columns: repeat(2,1fr);
            grid-gap: 5rem;
        }
        @media(max-width: 767px) {
            grid-template-columns: 1fr;
            grid-gap: 3rem;
        }
    }
    // .product-card__image

    &__image {
        position: relative;
    }

    // .product-card__label

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1.1rem 1rem 0.2rem;
        background-color: $accent;
        color: #fff;
        @extend %gothic-600;
        @extend %text-18;
        text-transform: uppercase;
    }

    // .product-card__status

    &__status {
        @extend %text-14;
        font-weight: 600;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    // .product-card__text

    &__text {
        @extend %text-14;
        margin-bottom: 2.3rem;
    }

    // .product-card__prices

    &__prices {
        @extend %vertical-align;
        margin-bottom: 2.4rem;
    }

    // .product-card__new-price

    &__new-price {
        @extend %text-24;
        font-weight: 700;
        color: $accent;
        margin-right: 1.5rem;
    }

    // .product-card__old-price

    &__old-price {
        @extend %text-16;
        font-weight: 600;
        text-decoration: line-through;
    }

    // .product-card__buttons

    &__buttons {
        display: grid;
        grid-template-columns: 16rem auto;
        grid-gap: 2.2rem;
        @media(min-width: 1025px) {
            margin-bottom: 3rem;
        }
        @media(max-width: 500px) {
            grid-template-columns: repeat(2,1fr);
            grid-gap: 1.5rem;
        }
        >* {
            @media(max-width: 500px) {
                width: 100%;
            }
        }
    }

    // .product-card__params-list

    &__params-list {
        @extend %text-16;
        line-height: 3.2rem;
        @media(max-width: 1024px) {
            grid-column: span 2;
        }
        @media(max-width: 767px) {
            grid-column: span 1;
        }
    }

    &__btn {
        @media(max-width: 500px) {
            width: 100%;
        }
    }

    // .product-card__list

    &__list {
        display: grid;
        grid-template-columns: 38.8rem + 2.3rem 21.7rem + 2.3rem auto;
        grid-gap: 7rem;
        @media(max-width: 1024px) {
            grid-template-columns: repeat(2,1fr);
            grid-gap: 2rem 3rem;
        }
        @media(max-width: 767px) {
            grid-template-columns: 1fr;
            grid-gap: 1.5rem;
        }
        @media(min-width: 768px) {
            grid-column: span 2;
        }
    }

    // .product-card__list-item

    &__list-item {
        position: relative;
        padding-left: 2.3rem;
        @extend %text-14;
        font-weight: 700;
        color: #333;
        &:before {
            content: '';
            position: absolute;
            top: 0.4rem;
            left: 0;
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 50%;
            background-color: $accent;
        }
        &:first-child {
            @media(max-width: 1024px) {
                grid-column: span 2;
            }
            @media(max-width: 767px) {
                grid-column: span 1;
            }
        }
    }
}

.counter {
    height: 6.4rem;
    background-color: #f2f2f2;
    @extend %flex-row-center;
    @media(max-width: 1024px) {
        height: 5rem;
    }
    &__btn {
        @extend %text-12;
        font-weight: 700;
        color: #828282;
        padding: 0 2.2rem;
    }
    // .counter__input

    &__input {
        width: calc(100% - 5rem * 2);
        @extend %text-12;
        font-weight: 700;
        text-align: center;
    }
}

.gallery {
    position: relative;
    background-color: #f2f2f2;
    padding-top: 14rem;
    @media(max-width: 1024px) {
        padding-top: 10rem;
    }
    @media(max-width: 767px) {
        padding-top: 5rem;
    }
    &:before {
        content: 'Галерея';
        position: absolute;
        top: -9.8rem;
        left: 22.6rem;
        @extend %gothic-600;
        font-size: 12rem;
        line-height: 18 / 12 * 100%;
        color: #F2F2F2;
        text-transform: uppercase;
        @media(max-width: 1024px) {
            font-size: 7rem;
            top: -7rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    // .gallery__top

    &__top {
        display: none;
        @media(min-width: 768px) {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 4rem;
        }
    }

    &__slider {
        @media(max-width: 767px) {
            padding-bottom: 5rem;
        }
    }
}
